
body {
  margin: 0;
  padding: 0;
  background-image: url('./assets/fundal.png');
  background-size: auto; 
  background-repeat: repeat; 
  font-family: Arial, Helvetica, sans-serif; 
  color: black; 
}

.navbar {
  width: 230px;
  height: 100vh;
  background-color: #da702a;
  background-image: url('./assets/bar2.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  font-family: "Roboto";
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 10px;
  gap: 10px; 
}

.navbar-small{
  width: 230px;
  height: 50px;
  
}

.usernameDisplay{
  font-size: x-large;
}
 .profile {
  
  width: 180px;
  height: 180px;
  
  margin-bottom: 10px; 
  background-image: url('./assets/aa151c7001.jpg') ;
  background-size:contain; 
  background-repeat: no-repeat;
  
 
} 


.navbar a {
  text-decoration: none;
  color: white;
  padding: 5px; 
  text-align: center;
  transition: background-color 0.3s;
  margin-bottom: 10px; /* Add space between links */
}

.navbar a:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last item */
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}


/* Main App Container */
.App {
  width: calc(100vw - 200px);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 180px;
  padding-top: 40px;
}

/* Post Styling */


/* Additional Styles for Specific Components */
.upSide {
  background-color: aliceblue;
  width: 800px;
  height: 500px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#commentInput {
  width: 800px;
  height: 50px;
}

.downSide .Comments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Comments .comment {
  width: 70%;
  padding: 30px;
  border: 1px solid lightgray;
  background-color: aliceblue;
  color: black;
  border-radius: 5px;
  margin-top: 20px;
}

.logoutButton {
  color: white;
}

.greeting {
  color: black;
  text-align: center;
  display: block;
  padding: 10px;
  margin: 10px auto;
  width: fit-content;
  height: 300px;
  font-family: 'Roboto', sans-serif;
}

.greetContainer {
  background-color: #FEFFD2;
  background-image: url("./assets/greetKitty.png");
  background-size: cover;
  background-repeat: repeat;
  border-radius: 5px;
  padding: 20px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
