body {
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}

.formContainer {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-image: url('../assets/postCont.png');
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: white; /* Changed color to white */
}

input,
select,
button {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Fixes padding and border issue */
    background-color: white; /* Background color to contrast with white text */
    color: black; /* Text color set to white */
}

input:focus,
select:focus,
button:focus {
    outline: none;
    border-color: #007bff;
}

.RegisterButton {
    color: black;
    background-color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.RegisterButton:hover {
    background-color: #da702a; /* Added hover effect for the button */
    color: white; /* Text color on hover */
}

.error {
    color: #dc3545;
    margin-top: 5px;
    font-size: 14px;
}
